.brand{
    font-size: large;
    font-weight: 900;
    color: blue !important;
}
#brand2{
    color: brown !important;
}
.nav_item{
    border-bottom:1px solid transparent;
    cursor: pointer;
}
.nav_item:hover{
    border-bottom: 1px solid brown !important;
    font-weight: bold;
}
.home-banner{
    background-image: url("./img/bread_background.jpg");
    border: 1px solid rebeccapurple;
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.brww{
    height: 90vh;
}
.white{
    color: #ffffff;
}
.bread-font{
    font-family: Raleway,sans-serif;
}
.bakery_logo {
    width: 100px;
    height: 100px;
}
.view-product {
    width: 236px;
    height: 66px;
    background-color: black;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid white;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}
.view-product:hover {
    background-color: white;
    color: black;
}
.bread-desc{
    font-size: 16px;
    font-family:'Open Sans',sans-serif;
    color: wheat;
    text-align: center;
}
.menu-list{
    font-size: 55px;
    font-family:Raleway,sans-serif;
    color: black;
    text-align: center;
    margin: 60px 22px 0px;
    font-weight: bold;
}
.menu-list-desc {
    font-size: 18px;
    font-family:'Open Sans',sans-serif;
    color: black;
    text-align: center;
    margin: 30px 0px 0px;
    width: 540px;
}
.bread-head >h4 {
    font-size: 22px;
    font-family:Raleway,sans-serif;
    color: black;
    text-align: center;
    font-weight: bold;
    margin: 30px 0px 0px;
}
.bread-head p:first-of-type{
    font-size: 16px;
    font-family:'Open Sans',sans-serif;
    color: black;
    text-align: center;
    margin: 22px 0px 0px;
}
.bread-head p:nth-of-type(2){
    font-size: 30px;
    font-family:'Open Sans',sans-serif;
    color: #a79f94;
    text-align: center;
    margin: 20px 0px 0px;
}
.circle-img {
    margin: 10px 0px 0px;
    display: flex;
    text-align: center;
    font-family:'Open Sans',sans-serif;
    font-size: 16px;
    padding: 30px 20px;
}
.circle-img .col img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.card-container {
    text-align: center;
}
.our-bread .col img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.our-bread h1 {
    margin: 20px 0px;
}

.our-bread{
    background-color:#a79f94;
    margin-bottom: 40px;
}

.test{
    border: 1px solid red
}

.our-bread .col{
    padding: 4px;
    display: flex;
    justify-content: center;
}
.animate-image {
    position: relative;
    animation: sparkleEffect 10s infinite linear;
  }
  
  @keyframes sparkleEffect {
    0% {
      opacity: 1;
      transform: scale(0.6);
    }
    50% {
      opacity: 0;
      transform: scale(0.6);
    }
    100% {
      opacity: 1;
      transform: scale(0.6);
    }
}
.footer {
    background-color: #f8f9fa;
    padding: 30px 0;
    color: #333;
  }

  .footer a {
    color: #333;
    text-decoration: none;
  }